---
---
// Header
$header-bg-color: #252931 !default;
$header-bg-color-secondary: #252931 !default;

// Text
$section-headings-color: #101010 !default;

@import "{{ site.theme }}";

@media screen and (min-width: 64em) {
  .project-name {
      font-size: 3rem;
  }
  .project-tagline {
    font-size: 1rem;
  }
}
//Anchors
.anchor-hash {
    opacity: 0.2;

    &:hover {
      opacity: 1;
    }
  }