body {
    font-family: "Open Sans", sans-serif !important;
} 
/*app-toolbar {
    display: none !important;
    color: transparent;
}*/

iron-overlay-backdrop {
    backdrop-filter: var(--iron-overlay-backdrop-filter, blur(10px));
    -webkit-backdrop-filter: var(--iron-overlay-backdrop-filter, blur(10px));
}